body {
    background-color: #fd9191;
    font-family: Arial, sans-serif;
    margin: auto;
    padding: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

/* h5 {
    width: max-content;
} */
#input {
    display: flex;
    align-items: center;
}

#input h5 {
    border: none;
}

h5 {
    padding: 10px;
    color: aqua;
    border: 2px solid black;
    border-radius: 30px;
}

span {
    color: #f90d9f;
}